<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
	<title>Fresh Merb App</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" />
</head>

<body>
<div id="page">
	<div id="header">
		<h1>Contacts</h1>
		
		<% if session.authenticated? %>
			<p class="login-info">
				Hi, <%= current_user.login %> | 
				<%= link_to 'Logout', url(:logout) %>
			</p>
		<% end %>
	</div>
	
	<div id="content">
		<div id="main">
			<%= all_messages %>
			<%= catch_content :for_layout %>
		</div>
	</div>
</div>
</body>
</html>