<h2>Your contacts</h2>

<p>
	<%= link_to "Add contact", url(:new_contact) %>
</p>

<div id="contacts">
	<% unless @contacts.empty? %>
		<%= partial :contact, :with => @contacts %>
	<% else %>
		<p>You have no contacts</p>
	<% end %>
</div>